/* App.css */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f8;
}
.App{
  min-height: 100vh;
  height: 100vh;
}

/*General styles*/







.header {
  background-color: #2e3a59;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}
.header a {
  text-decoration: none;
}

.navbar {
  background-color: #3b4a6b;
  padding: 10px 32px;
  
}

.navbar-container {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
 margin: auto;
  justify-content: space-between;
}
/* also applicable to <Link> tag */
.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.dashboard {
  padding: 24px 32px;
  max-width: 1200px;
  margin: auto;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 24px;
}

.card {
  background: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  text-align: center;
}

.card h2 {
  font-size: 16px;
  margin-bottom: 8px;
  color: #555;
}

.card p {
  font-size: 24px;
  font-weight: bold;
  color: #2e3a59;
}

.shortcut-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
  margin-top: 32px;
}

.shortcut-btn {
  background-color: #2e3a59;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.shortcut-btn:hover {
  background-color: #1c2438;
}

.sales-container {
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.sales-btn {
  width: 240px;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  background-color: #2e3a59;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.sales-btn:hover {
  background-color: #1c2438;
}
