.login-page {
    min-height: 100%;
    max-height: 100vh;
    padding: 35px;
    /* border: 5px solid red; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.login-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;

}

.login-header {
    width: 100%;
    display: flex;
    justify-content: center;

    /* border: 5px solid red;     */
    h1 {
        font-family: 'Great Vibes', cursive;
        font-size: 5rem;
        padding: 20px 0 10px 0;
        margin: 0;

    }

}

.login-img-container {
    width: auto;
    max-width: 50%;
    /* border: 5px solid red; */

}

.login-form-container {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 5px solid red; */

    .login-input{
        width: 80%;
    }

    .remember-forget-links {
        width: 80%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}

.pin-input-wrapper {
    position: relative;
  }
  
  .pin-input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .pin-input-container input {
    padding-right: 40px; /* space for the icon */
  }
  
  .toggle-pin-visibility {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    user-select: none;
  }
  